button {
    padding: 0;
    margin: 0;
    background: none;
    color: inherit;
    border: inherit;
    font-size: inherit;
    font-family: inherit;

    cursor: pointer;

}

.btn {
    outline: none;
    background: none;

    border: 3px solid var(--primary-color);
    padding: 1rem 3rem;

    @include defaultHeadingFont;

    color: inherit;

    border-radius: 3rem;

    transition-property: color, background, opacity, border-color;
    transition-duration: 200ms;
    transition-timing-function: linear;

    .loader {
        margin: 0 auto;
        color: var(--primary-color);
    }

    &:disabled {
        opacity: 0.5;

        @include hover {
            border-color: var(--primary-color);
            background: none;
            color: inherit;

            .loader {
                --c: no-repeat linear-gradient(var(--primary-color) 0 0)
            }
        }
    }

    @include hover {
        color: var(--secondary-color);
        background-color: var(--primary-color);

        .loader {
            --c: no-repeat linear-gradient(var(--secondary-color) 0 0)
        }
    }

    &__white {
        color: var(--secondary-color);
        border-color: var(--secondary-color);

        mix-blend-mode: screen;

        .loader {
            --c: no-repeat linear-gradient(var(--secondary-color) 0 0)
        }

        @include hover {
            color: #000;
            background-color: var(--secondary-color);

            .loader {
                --c: no-repeat linear-gradient(var(--primary-color) 0 0)
            }
        }

        &:disabled {
            opacity: 0.5;

            @include hover {
                border-color: var(--secondary-color);
                background: none;
                color: var(--secondary-color);

                .loader {
                    --c: no-repeat linear-gradient(var(--secondary-color) 0 0)
                }
            }
        }
    }

    &__black {
        color: var(--secondary-color);
        background-color: var(--primary-color);
        border-color: var(--primary-color);

        .loader {
            --c: no-repeat linear-gradient(var(--secondary-color) 0 0)
        }
        
        @include hover {
            background-color: var(--primary-color-dark);
            border-color: var(--primary-color-dark);

            .loader {
                --c: no-repeat linear-gradient(var(--secondary-color) 0 0)
            }
        }

        &:disabled {
            opacity: 0.5;
        
            @include hover {
                color: var(--secondary-color);
                background-color: var(--primary-color);
                border-color: var(--primary-color);

                .loader {
                    --c: no-repeat linear-gradient(var(--secondary-color) 0 0)
                }
            }
        }
    }

    &__red {
        // background-color: var(--error-color);
        border-color: var(--error-sec-color);
        color: var(--error-color);

        .loader {
            --c: no-repeat linear-gradient(var(--error-color) 0 0)
        }
        
        @include hover {
            background-color: var(--error-color);
            border-color: var(--error-color);

            .loader {
                --c: no-repeat linear-gradient(var(--secondary-color) 0 0)
            }
        }

        &:disabled {
            opacity: 0.5;
        
            @include hover {
                border-color: var(--error-sec-color);
                color: var(--error-sec-color);

                .loader {
                    --c: no-repeat linear-gradient(var(--error-color) 0 0)
                }
            }
        }
    }
}