@import '../../../../mixins';
@import '../../../../vars';

.bag__checkout {
    max-width: 44rem;
    width: 100%;
    
    @include bp($bpBag1) {
        max-width: 100%;
        margin-top: 5rem;
    }

    &-title {
        font-size: 2.4rem;
        @include defaultHeadingFont;
        text-align: center;

        margin-top: 3rem;
    }

    &-sticky {
        position: sticky;
        top: 12rem;
    }

    &-sticky > &-title:first-child {
        margin-top: 0;
    }

    &-delivery {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
    }

    &-addresses {

        width: 100%;
        border: none;
        outline: none;

        line-height: 1.5;

        background-color: var(--primary-color);
        color: var(--secondary-color);
        padding: 1.2rem 4.2rem 1.2rem 3rem;

        appearance: none;

        border-radius: 5rem;

        @include defaultHeadingFont;

        &__wrapper {
            position: relative;
            margin-bottom: 3rem;
        }

        &__arrow {
            position: absolute;
            top: calc(50% - 0.8rem);
            right: 3rem;

            width: 1.2rem;
            height: 1.2rem;

            fill: var(--secondary-color);
        }
    }
}