@mixin defaultHeadingFont {
    font-family: "Lora", sans-serif;
    font-weight: 600;
}

@mixin defaultBoxShadow {
    box-shadow: 0 4px 20px var(--box-shadow-color);
}

@mixin defaultBlock($paddingX: 0, $paddingY: 0) {
    border: 1px solid var(--border-color);
    border-radius: 2rem;

    color: var(--secondary-color);
    background-color: var(--primary-color);

    @include defaultBoxShadow();

    @if $paddingX !=0 {
        padding-left: $paddingX;
        padding-right: $paddingX;
    }

    @if $paddingY !=0 {
        padding-top: $paddingY;
        padding-bottom: $paddingY;
    }

}

@mixin bp($bp) {
    @media (max-width: $bp) {
        @content
    }
}

@mixin hover($hover-selector: null, $active-selector: null)  {
    @media (hover: hover) {
        &:hover {
            @if $hover-selector {
                #{$hover-selector} {
                    @content;
                }
            }

            @else {
                @content;
            }
        }
    }

    @media (hover: none) {
        &:active {
            @if $active-selector {
                #{$active-selector} {
                    @content;
                }
            }

            @else {
                @content;
            }
        }
    }
}