$primaryColor: #2E2E2E;
$primaryAltColor: #7A7A7A;
$secondaryColor: #FFFFFF;
$borderColor: #8B8B8B;
$boxShadowColor: rgba(0, 0, 0, 0.3);
$overlayColor: rgba(0, 0, 0, 0.6);

$pagePaddingTop: 12rem;

$zIndexHeader: 100;
$zIndexHeaderLogo: 150;
$zIndexHeaderNav: 140;
$zIndexHomeCategoryTitle: 15;
$zIndexModal: 500;

$bp-header-1: 770px;
$bp-header-2: 495px;

$bpFooter1: 630px;
$bpFooter2: 354px;

$bpHomeIntroMax: 1920px;
$bpHomeIntro1: 1920px;

$bpHomeHistory1: 1210px;
$bpHomeHistory2: 930px;
$bpHomeHistory3: 540px;

$bpHomeMenuCategory1: 1290px;
$bpHomeMenuCategory2: 960px;
$bpHomeMenuCategory3: 630px;

$bpCategory1: 1310px;
$bpCategory2: 980px;
$bpCategory3: 650px;

$bpBag1: 975px;
$bpBag2: 440px;
$bpBag3: 370px;

$bpLocation1: 1200px;
$bpLocation2: 730px;

$bpAccount1: 635px;
$bpAccount2: 475px;

$bpOrders1: 770px;

$bpAbout1: 582px;

$bpModal1: 460px;
$bpModal2: 350px;