@import '../../mixins';
@import '../../vars';

.account {

    &.loading {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    &__loader {
        display: flex;
        justify-content: center;
    }

}